<%- include('layout/_header') %>

<h1> <%= user.name %> </h1>

<div class="posts-list list-group">

    <% for(let post of posts){ %>
    <a href="/post/<%= post.id %>" class="list-group-item">
        <h4 class="list-group-item-heading"> <%= post.title%> </h4>
        <p class="list-group-item-text"> <%= post.preview %> </p>
    </a>
    <% } %>
</div>

<%- include('layout/_footer') %>
