<%- include('layout/_header') %>


<div class="post">
    <div class="post-header">
        <h3> <%= post.title %> </h3>
        <p>
            Опубликовал: <a href="/author/<%= post.author.id %>" class="label label-info"> <%= post.author.name %> </a>
            <% if( user && user===post.author || user.admin ){ %>
            <span class="tools">
                    <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="#"><i class="glyphicon glyphicon-remove"></i></a>
            </span>
            <% } %>
            <p><%= post.date.getDate()+' '+(post.date.getMonth()-0+1)+' '+post.date.getFullYear() %></p>
        </p>
    </div>
    <div class="post-body">
        <div class="preview">
            <p> <%= post.preview %> </p>
        </div>
        <hr>
        <div class="post-text">
            <%= post.text %>
        </div>
    </div>
</div>

<%- include('layout/_footer') %>
